@import "variables";
@import "reset";
//@import "fontawesome";

/* sass goes here */
body {
	font: {
		family: sans-serif;
		weight: 200;
		size: 100%;
	}
	background-color: hsla(0,0%,95%,1);
}
main {
	display: flex;
	flex-wrap: wrap;
}
h1 {
	text-transform: uppercase;
}
.recipeCard {
	margin: 25px;
	padding: 0 25px;
}
.recipeCard section {
	background-color: white;
	width: 250px;
	padding: 50px;
	box-shadow: 0 0 20px transparentize(black, .9);
	border-radius: 5px;
	margin: 0 25px 25px 25px;
	ol { 
		list-style-type: roman;
	}
	ul {
		list-style-type: disc;
	}
}
.recipeCard .img {
	width: 100%;
	height: 100px;
	background: {
		//image: url(../img/pizza.jpg);
		size: cover;
		repeat: no-repeat;
	}
	
}